.th:first-of-type {
    border-top-left-radius: 8px;
}
.th:last-of-type {
    border-top-right-radius: 8px;
}

.thead > tr > th:nth-child(even) {
    @apply bg-gray-400/20;
}
.thead > tr > th:nth-child(odd) {
    @apply bg-gray-400/30;
}

.thead > tr > td {
    min-width: 180px;
    max-width: 400px;
}

.tbody > tr > td {
    min-width: 180px;
    max-width: 400px;
}

.markdown p:not(:first-child) {
    margin-top: 20px;
}

.markdown ol,
.markdown ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
